/* 侧边栏定位欢迎开始*/
#welcome-info {
    overflow: hidden;
    border-radius: 14px;
    --kouseki-welcome-color: #49B1F5;
    --kouseki-ip-color: #49B1F5;
    --kouseki-gl-size: 16px!important;
  }


/* 侧边栏定位欢迎结束*/
#welcome-info {
  overflow: hidden;
  border-radius: 14px;
  --kouseki-welcome-color: #49B1F5;
  --kouseki-ip-color: #49B1F5;
  --kouseki-gl-size: 16px!important;
}

@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'hxzt';	
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/font/hxzt.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}


/* 黑夜霓虹灯2.0 */
/* 日间模式不生效 */
[data-theme="light"] #site-name,
[data-theme="light"] #site-title,
[data-theme="light"] #site-subtitle,
[data-theme="light"] #post-info {
  animation: none;
}
/* 夜间模式生效 */
[data-theme="dark"] #site-name,
[data-theme="dark"] #site-title {
  animation: light_15px 10s linear infinite;
}
[data-theme="dark"] #site-subtitle {
  animation: light_10px 10s linear infinite;
}
[data-theme="dark"] #post-info {
  animation: light_5px 10s linear infinite;
}
/* 关键帧描述 */
@keyframes light_15px {
  0% {
    text-shadow: #5636ed 0 0 15px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 15px;
  }
  25% {
    text-shadow: #f14747 0 0 15px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 15px;
  }
  50% {
    text-shadow: #b347f1 0 0 15px;
  }
  62.5% {
    text-shadow: #002afa 0 0 15px;
  }
  75% {
    text-shadow: #ed709b 0 0 15px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 15px;
  }
  100% {
    text-shadow: #5636ed 0 0 15px;
  }
}

@keyframes light_10px {
  0% {
    text-shadow: #5636ed 0 0 10px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 10px;
  }
  25% {
    text-shadow: #f14747 0 0 10px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 10px;
  }
  50% {
    text-shadow: #f1ee47 0 0 10px;
  }
  50% {
    text-shadow: #b347f1 0 0 10px;
  }
  62.5% {
    text-shadow: #002afa 0 0 10px;
  }
  75% {
    text-shadow: #ed709b 0 0 10px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 10px;
  }
  100% {
    text-shadow: #5636ed 0 0 10px;
  }
}

@keyframes light_5px {
  0% {
    text-shadow: #5636ed 0 0 5px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 5px;
  }
  25% {
    text-shadow: #f14747 0 0 5px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 5px;
  }
  50% {
    text-shadow: #b347f1 0 0 5px;
  }
  62.5% {
    text-shadow: #002afa 0 0 5px;
  }
  75% {
    text-shadow: #ed709b 0 0 5px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 5px;
  }
  100% {
    text-shadow: #5636ed 0 0 5px;
  }
}



/* 头像呼吸灯 */
[data-theme=light] .avatar-img {
  animation: huxi_light 4s ease-in-out infinite
}

[data-theme=dark] .avatar-img {
  animation: huxi_dark 4s ease-in-out infinite
}

@keyframes huxi_light {
  0% {
      box-shadow: 0 0 1px 1px #ffce86
  }

  50% {
      box-shadow: 0 0 7px 7px #ffce86
  }

  100% {
      box-shadow: 0 0 1px 1px #ffce86
  }
}

@keyframes huxi_dark {
  0% {
      box-shadow: 0 0 1px 1px #39c5bb
  }

  50% {
      box-shadow: 0 0 7px 7px #39c5bb
  }

  100% {
      box-shadow: 0 0 1px 1px #39c5bb
  }
}

/* 新年侧边栏 */

#newYear {
    color: white;
    padding: 0 !important;
}

#newYear p,
#newYear h3 {
    font-weight: normal;
    color: inherit;
    margin: 0;
}

#newYear .item-headline {
    display: none;
}

#newYear-main {
    min-height: 160px;
    padding: 1rem;
    position: relative;
    border-radius: 12px;
    background-image: url(https://img.siyouyun.eu.org/file/1730093147227_she.png);
    background-size: cover;
    background-position: center;
}

#newYear-main * {
    position: relative;
    line-height: 1.3;
}

#newYear-main .newYear-time {
    font-weight: bold;
    text-align: center;
}

#newYear-main .time,
#newYear-main .happyNewYear {
    font-size: 3.5rem;
    margin: 1rem 0;
    display: block;
}

#newYear-main .day {
    font-size: 5rem;
}

#newYear-main .day .unit {
    font-size: 1rem;
}

#newYear-main .mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
}

/* 擦亮效果 */
#recent-posts > .recent-post-item:not(a)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: linear-gradient(to right, transparent, white, transparent);
  transform: translateX(-200%);
  transition: transform 0.5s linear;
  z-index: 1;
}

#recent-posts > .recent-post-item:not(a):hover::before {
  transform: translateX(100%) skewX(-60deg);
}

/* 个人信息卡片背景图 */

#aside-content .card-info:hover .author-info-avatar {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity = 1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.author-info__description {
  display: none;
}
.card-widget.card-info {
  background: url(https://img.siyouyun.eu.org/file/1728809022518_8403ad9e0d416deb710962be5282232.png) center/cover no-repeat!important;
}

#aside-content >.card-widget.card-info::before {
  background-image: linear-gradient(-25deg, hsl(204deg 100% 50% / 45%), hsl(36.71deg 100% 50% / 45%), hsl(204deg 100% 50% / 45%), hsl(36.71deg 100% 50% / 45%));
  backdrop-filter: blur(5px);
}

#aside-content .card-info:hover .author-status {
  opacity: 1!important;
  transform: scale(1.8) rotate(30deg);
}


body[data-type="statistics"]
  #page
    border: 0
    box-shadow: none !important
    padding: 0 !important
    background: 0 0 !important

  .page-title
    display: none
    
  #anzhiyu_charts
    margin: var(--album-spacing-xxl) 0 0

  .author-content.author-content-item,
  .banner-button-text
    color: var(--font-color) !important